
h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Poppins', sans-serif;
}
p::selection, h1::selection,h2::selection, h3::selection, h4::selection, h5::selection, h6::selection ,span::selection, a::selection{
	color: #fff;
	background:#67009b;
}	
h2 {
    font-weight: bolder;
    padding-bottom: 5px;
    color: #585858;
    font-size: 27px;    
    font-weight: 600;
}
p {
	font-size: 15px;
    color: #9b9b9b;
    line-height: 24px;
}
img{
    object-fit:cover;
    -o-object-fit:cover; 
}
span{
    letter-spacing: 0.5px;
    color: #67009b;
}


/*-------------- menu section ----------------*/
.navbar-light .navbar-nav .nav-link {
    color: #4d0083;
    padding: 25px 15px;
    font-size: 16px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #f3ef2d;
}
.navbar-light .navbar-nav .nav-item .nav-link.active {
    color: #f3ef2d;
}
.navbar-light .navbar-toggler {
    color: #67009b;
    border-color: #67009b;
    cursor: pointer;
}
.navbar{
    padding: 0px;
}
.sticky{
	background-color: rgba(0,0,0,0.9);
}
#header{
    height: 75px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color:rgba(255,255,255,0.7);
}
#header.header-color{
    background-color: #eee7f4;
}
.sticky{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
/* End menu section */
/* BANNER SLIDER SECTION */
.carousel-caption {
    width: 100% !important;
    text-align: center;
    position: absolute;
    left: -26%;
    right: 0 !important; 
    bottom:315px;
    padding: 0px;
    margin: 0px;
}
.carousel-caption span {
    font-weight: 600;
    font-size: 21px;
    display: block;
    letter-spacing: 0.5px;
    padding-right: 14%;
    position: relative;
    top: 9px;
}
.carousel-caption h2 {
   font-size: 150px;
   letter-spacing: 5px;
   padding-bottom: 0px;
   font-weight: bold;
   color: #67009b;
   line-height: 66px;
   padding-top: 16px;
}
.carousel-caption p {
   font-size: 18px;
   letter-spacing: 0.2px;
   padding: 18px 28%;
   font-weight: bold;
}
.carousel-caption .btn.btn-info {
    width: auto;
    font-size: 16px;
    padding: 15px 71px;
    margin-bottom: 10px;
}
.carousel-item {
    height: 700px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-item .container {
    background-color: rgba(0,0,0,0.6);
}
.carousel-indicators li {
    cursor: pointer;
    background-color: #c6c6c6;   
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 6px;
}
.carousel-indicators .active {
    background-color: #67009b;
}
.carousel-indicators li.active::before {
    position: absolute;
    top: -6px;
    left: -6px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    border: 2px solid #67009b;
    border-radius: 50%;
}
section#yg-slider {
    margin-bottom: 40px;
}
/* End slider section */

/* Work process */
#subscribes{
    background-size: cover;
}
.subscribe {
    padding: 68px 0;
}
.subscribe span{
    font-size: 16px;
    margin-bottom: 0px;
    color: #fdfcfd;
	display: block;
}
.subscribe .btn.btn-infos {
    background-color: transparent;
    color: #f3f90e;
    font-weight: 600;
    border-radius: 46px;    
    padding: 5px 28px;
    margin-top: 43px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #fff;
    font-family: 'Poppins', sans-serif !important;
    right: 55px;
    position: relative;

}
.subscribe .btn.btn-infos:hover{
    background-color: #f7f7f7;
    color: #551887;
}
.subscribe h2{
    color: #f3f90e;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    top: 15px;    
    left: 36px;

}
.subscribe input{   
    width: 85%;
    border-radius: 46px;
    height: 40px;
    box-shadow: none;
    border: none;
    transition: none;
} 
.subscribe :focus {
    outline: none;
}
.subscribe .form-control:focus{
    box-shadow:none !important;
}
.subscribe .form-group {
    padding-top: 40px;
    margin-bottom: 0px;
}
/* End Work process */

/* our services */
#our-services {
    padding: 115px 0px;
}
.section-title span,.about span{
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}
.section-title {
    padding-bottom: 38px;
    padding-left: 90px;
}  
.services-lists-inner {
    background-color: #fff;
    border: 2px solid #e9e9e9;
    display: grid !important;
    border-radius: 10px;
    padding: 20px 25px;
}
.services-lists-inner .services-icon  {
    color: #113054;
    font-size: 30px;
    text-align: left;
    position: relative;
    left: -10px;
    top: -4px;
}
.services-content {
    text-align: left;
    padding-top: 23px;
}
.heading>a{
    color: #585858;
    font-size: 19px;
}
.about .fa,
.about .far,
.about .fas,
#our-services .fa,
#our-services .far,
#our-services .fas{
    padding: 17px 24px;
    background-color: #7cadf3;
    border-radius: 20%;
    color: #fff;
}
.about .fa-lightbulb,
#our-services .fa-lightbulb {
    padding: 17px 24px;
    background-color: #7cadf3;
    border-radius: 20%;
    color: #fff;
}
.about .fa-fire,
#our-services .fa-fire {
    padding: 17px 21px;
    background-color: #ff7597;
    border-radius: 20%;
    color: #fff;
}
.about .fa-gift,
#our-services .fa-gift {
    padding: 17px 21px;
    background-color: #44f7a1;
    border-radius: 20%;
    color: #fff;
}
.services-lists {
    padding: 0px 16px;
    margin-bottom: 15px;
}
.services-content p{
    padding-bottom: 25px;
    line-height: 20px;
}
.services-icon {
    height: 65px;
}
#our-services .row .services-lists:first-child .services-lists-inner{
    box-shadow: 1px -1px 65px 8px rgba(242,242,242,1);
}
#our-services .row .services-lists:nth-child(2) .services-lists-inner{
box-shadow: 1px -1px 65px -4px rgba(242,242,242,1);
}
.heading>a:hover{
    color: #67009b !important
}
/* our services */

/*About section*/
.about {
    padding: 100px 0px;
    background-color: #f1f1f1;
}
.about img{
  width: 100%;
}   
.about h2{
    padding-right: 90px;
}
.about-description {
    padding-top: 100px;
}
/*End About section*/
/*Counter section*/
#counters{
    padding: 70px 0px;
    background-color: #2a262d;
}
#counters h6{
    color: #f2f809;
    font-size: 15px;
    line-height:0;
}
#counters span {
    font-size: 42px;
    font-weight: bold;
    color: #f2f809;
    font-family: 'Poppins';
}
.counter-list::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    float: left;
    height: 47px;
    position: absolute;
    right: 0;
    top: 26px;
    width: 2px;
}
#counters .row .counter-list:last-child:after  {
   background:  none ;
}
/* End counter section */
/* start Digital solution section */
.about.digital-solution img{
    width: 90% !important;
}
.about.digital-solution{
    background-color: #fff;
    padding: 70px 0px;
}
.about.digital-solution{
    padding-right: 43px;
}
.about.digital-solution .about-description {
    padding-top: 150px;
}
/* End Digital solution section */
/* About Business Grow section */
.about.business-grow{
    height: 600px;
}
.about.business-grow h2{
    color:#f3f911;
}
.about.business-grow span,.about.business-grow p{
    color: #fff;
}
.about.business-grow .about-description{
    padding-right: 92px;
}
.about.business-grow {
    padding: 70px 0px;
}
.about.business-grow p{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.about.business-grow .about-description {
    padding-top: 125px;
}
/* End Business Grow section */

/* testimonila section */
.testimonial.owl-theme .owl-nav {
    margin-top: 0px;
    color: #550887;
    font-size: 27px;
    float: left;
}
.testimonial p{
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}
.testimonial.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #550887;
}
:focus {
    outline: none !important;
}   

.about.digital-solution .testimonial img {
    width: 80% !important;
    margin: 0 auto !important;
} 
.about.digital-solution .testimonial .about-description {
    padding-top: 77px;
}
.fa.fa-arrow-right ,.fa.fa-arrow-left{
    color: #cbcbcb;
}
.fa.fa-arrow-right:hover ,.fa.fa-arrow-left:hover{
    color: #550887;
}
/* End testimonial section */

/* Our Clients section*/
#our-clients{
    padding:45px 0px 60px;
    background-color: #f2f2f2;
    height: 340px;
}
#our-clients  .section-title h2 {
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 300;
    color: #3d3d3d;
}
#our-clients .section-title{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
#our-clients .item {
    text-align: center;
}
/* End Our clients section*/

/*Footer section*/

#footer{
    background: #67009b;
    color: #fff;
    padding: 80px 0px;
}
.footer-columns{
    margin-top: 30px;
}
.footer-columns p{
    margin-bottom: 0px;
    font-size: 14px;
    color: #fff;
}
.footer-columns a{
    color: #fff;
}
.footer-columns h6{
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-columns img{
    position: relative;
    bottom: 16px;
}
#footer .social {
    padding: 0px;
    float: none !important;
}
.footer-columns a i{
    color: #fff;
    padding-right: 10px;
}
.social ul {
    padding: 0px;
}
.social li {
    list-style: none;
    color: #fff;
    display: inline-block;
}
.social li .fa {
    color: #fff;
    background: #272727;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}
.lets-talk p:last-child{
    margin-top: 5px !important;
}
.footer-menu ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}
.footer-menu a {
    color: #fff;
    font-size: 16px;
    padding: 22px;
    font-family: 'Open sans' !important;
    font-weight: 600;
}
.footer-menu .active {
    color: #f0fe41;
}
.footer-menu a:hover{
    text-decoration: none;
    color: #f0fe41;
}
/*Copyright section*/

#copyright {
    background: #1D1D1D;
    padding: 20px 0px;
}
#copyright a{
    color: #fff;
}
#copyright p{
    margin-bottom: 0px;
    color: #657582;
    font-size: 14px;
}
#copyright p span{
    color: #FDC135;
}
/* Top banner section */
#top-banner {
    background: #f1f1f1;
}
#top-banner {
    height: 500px;
    margin-top: 74px;
}
.top-banner-bg.clip-ellipse{
    /*clip-path: polygon(50% 0%, 100% 0%, 100% 40%, 50% 98%, 0 40%, 0 0);*/
    /*-webkit-clip-path: ellipse(93% 100% at top);*/
}
#top-banner h1{
    color: #f4f90e;
    font-size: 82px;
    font-weight: bolder;
    letter-spacing: 5px;
} 
#top-banner p{
    color: #fff;
}   
.top-banner-caption{
    padding-top: 90px;
}
#top-banner img{
    position: relative;
    width: 100%;
    top: 331px;
}    
.top-banner-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 465px; 
  background-position: center;
}
/*.top-banner-bg:after, 
.top-banner-bg:before {
  content:'';
  background:white;
  position:absolute;
  top:-10px;
  left:0;
  width:100%;
  height:20px;
  border-radius:0 0 50% 50%;
}
.top-banner-bg:after {
  top:auto;
  bottom:-10px;
  border-radius:50% 50% 0 0 ;
}*/
/*.top-banner-bg{
    margin: -400px auto 0;
  width: 1000px;
  height: 800px;
  overflow: hidden;
  border-radius: 0 0 70% 70%;
  background-color: #0080C1;
} */ 
/* End Top banner section */
/* About page*/
.about.digital-solution.about-page{
    background-color: #f1f1f1 !important;
}
.about.about-page{
    background-color: #fff;
}
/* End About page*/
/* Services detail page */
.about .about-img.services-img img{
    max-width: 120% !important;
    position: relative;
    right: 88px;
    width: 150%;
 }
.services-icon  .fa.fa-lightbulb-o{
    padding: 25px 35px;
    background-color: #7cadf3;
    border-radius: 20%;
    color: #fff;
    font-size: 45px;
    margin-bottom: 15px;
    font-size: 32px;
}
.service-detail-page{
    padding-left: 33px;
    padding-top: 60px
}
.service-detail-page p {
    font-size: 16px;
    color: #6a6a6a;
    padding-bottom: 25px;
    padding-right: 37px;
}
.fa.fa-lightbulb-o{
    padding: 28px 35px;
    background-color: #7cadf3;
    border-radius: 20%;
    color: #fff;
    font-size: 45px;
    margin-bottom: 15px;
    font-size: 32px;
    }

.about.about-page .fa,
.about.about-page .fa.fa-lightbulb-o{
    padding: 22px 32px;
    font-size: 45px;
}  
#top-banner.top-bg{
    background-color: #fff !important;
}

/* End Services detail page */

/* Special Work  SECTION*/
#works {
    padding: 80px 0px 230px;
    background-color: #f1f1f1;
}
#works h2{
    color: #000;
    font-weight: bolder;
    font-size: 75px;
    line-height: 54px;
}
#works img {
     width:100%; 
     height: 500px;
}
.work-lists {
    padding: 8px;
    height: 500px;
}
#works span {
    color: #e8002a;
}
#works h3 {
    color: #525252;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 100;
}
.special-menu-title {
    padding-bottom: 55px;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: rgba(116, 0, 165, 0.9);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
color: #fff;
padding:50px 20px 0px;
}
.overlay h4{
    font-size: 25px;
    margin-bottom: 0px;
    color: #f1f817;
    font-weight: 600;
}
.overlay p {
   font-size: 16px;
    font-weight: 100;
    position: relative;
    margin-bottom: 0px;
    line-height: 22px;
    padding-top: 50px;
    color: #fff;
}
.overlay h5 {
    font-weight: bolder;
    font-size: 45px;
    padding-bottom: 42px;
}
.overlay .btn.btn-info {
    padding: 7px 45px;
    border: 2px solid #fff;
    border-radius: 38px;
    margin-top: 50px;
    background-color: transparent;
    color: #f1f817; 
    font-weight: 600;
    font-size: 14px;

}
.overlay .btn.btn-info:hover{
    border:2px solid #fff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
position: relative;
top: 105px;
padding:7px 14px;
}


.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
#works .work-lists:nth-child(2) {
    position: relative;
    top: 120px;
}
#works .work-lists:nth-child(5) {
    position: relative;
    top: 120px;
}
/*END WORK SECTION*/

/* works Detail page */
.work-detail-description {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: -1px 1px 72px 12px rgba(209,202,209,1);
    border-radius: 15px;

} 
#work-detail {
    background-color: #f1f1f1;    
    padding: 60px 0px 120px;
}
.work-detail-description img{
    width: 100%;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.work-detail-desc {
    padding: 40px;
}
.work-detail-desc h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.work-detail-desc p{
    color: #5e5e5e;
}
.work-detail-desc .btn.btn-infos{
    background-color: #67009b;
    color: #fff;
    font-weight: 100;
    border-radius: 30px;
    padding: 12px 93px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px;
    transition: 0.6s;
}  
.work-detail-desc .btn.btn-infos:hover{
    background-color: rgba(103, 0, 155, 0.78);
    transition: 0.6s;
}  

/*------------------18. blog-area start --------------------*/
.blog-area.ptb-140.bg-1 {
    background-color: #f1f1f1;
    padding: 130px 0px 30px;
}
.blog-img{
  position:relative;
  z-index:99;
  overflow:hidden;
}
.blog-meta{
  margin-bottom:0px;
  color: #7a7a7a;
}
.blog-meta span{
    font-size: 13px;
    color:#7a7a7a;
}
.blog-content h3{
  margin-bottom:4px;
}
.blog-content h3 a{
  font-size:19px;
  text-transform:capitalize;
  color:#555!important; 
}
.blog-content h3 a:hover{
    color: #67009b !important;
}
.blog-lists{
    margin-bottom: 90px;
    padding: 6px;
}
.blog-content p{
  margin-bottom:20px;
 line-height: 20px;
 color: #7a7a7a;
 padding-right: 20px;
 letter-spacing: 1px;
}
.blog-content a.btn-style{
  border:1px solid #296dc1;
}

.blog-img img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.blog-body h1 a{
    font-size: 20px;
    color: #1c233b !important;
    font-weight: 700;
    margin:40px 0px;
}
.blog-body p{
    font-size:20px;
    color: #a6acb7;
    line-height: 30px;
    padding-bottom: 30px;
}

.blog-body {
    padding: 10px;
    box-shadow: 0px 4px 30px #dadadaad;
    padding-bottom: 25px;
}

/* Blog Detail page */
#blog-detail {
    background-color: #f1f1f1;
}
.blog-detail-description {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0px;
}
.blog-detail-description img{
    width: 100%;
    height: 400px;
}
.blog-detail-description h2{
    font-size: 29px;
    letter-spacing: 1px;
}
.blog-detail-header {
    padding-bottom: 25px;
}
.blog-detail-header span{
    color: #7a7a7a;
    font-size: 15px;
    font-weight: 100;
}
.recent span{
    color:#cdbcdc;
}
.blog-detail-desc {
    padding-top: 35px;
}  
.blog-detail-description p {
    line-height: 22px;
    color: #343434;
    letter-spacing: 0.5px;
    padding: 0px 20px;
    margin-bottom: 0px;
}  
.blog-area.ptb-140.bg-1.recent-blog {
    background-color: #67009b;
    padding: 38px 0px 30px;  
} 
.blog-area.ptb-140.bg-1.recent-blog h2{
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 45px;
}
.blog-area.ptb-140.bg-1.recent-blog .blog-content h3 a {
    font-size: 18px;
    color: #e3d6ec!important;
}
.blog-area.ptb-140.bg-1.recent-blog .blog-content p{
    color: #cdbcdc;
}
.blog-area.ptb-140.bg-1.recent-blog .blog-meta {
    color: #cdbcdc;
}
.blog-content{
    padding-top: 8px;
}
.blog-area.ptb-140.bg-1.recent-blog .col{
    margin-bottom: 40px;
}
.latest-blog .owl-theme .owl-nav.disabled+.owl-dots{
    padding-bottom: 30px;
}
.latest-blog.owl-theme .owl-dots .owl-dot.active::before span{
   position: absolute;
    top: -6px;
    left: -6px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;
}
.latest-blog.owl-theme .owl-dots .owl-dot.active span{
    background-color: #f2f80d;
}
.latest-blog.owl-theme .owl-dots .owl-dot.active span::before{
    
    position: relative;
    top: -7px;
    left: -7px;
    display: block;
    width: 26px;
    height: 26px;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;

}
.latest-blog.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    width: 12px;
    height: 12px;
}
/* End Blog Detail page */
/* Map section*/
#map{
    padding: 100px 0px;
    margin-bottom: 80px;
}
#map iframe{
    width: 100%;
    height: 700px;
}    
/* End Map section*/
#contact{
    padding: 100px 0px;
    background-color: #f1f1f1;
}
section#contact h2 {    
    color: #2a292a;
    font-size: 27px;
    letter-spacing: 0px;
    padding-bottom: 20px;
    font-weight: 100;
    text-align: center;
}
#contact input.form-control {
    background-color: #fff !important;
    border-radius: 37px;
    line-height: 45px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
}
#contact textarea{
    background-color: #fff !important;
    border-radius: 20px;
    line-height: 58px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
    margin-top: 23px;
}
#contact .btn.btn-info {
    font-size: 18px;
    padding: 13px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width:auto;
    border:none;
    font-weight:bolder;
    background-color: #67009b;
    color:#000;
} 
#contact .btn.btn-info:hover{
    background-color: rgba(103, 0, 155, 0.78);
    transition: 0.6s;
}
#contact  .form-control::-webkit-input-placeholder {
  color: #afafaf !important;
  letter-spacing: 1px;
  padding-left: 25px;
}
#contact  .form-control:focus{
    padding-left: 25px;
}
.btn-info:not([disabled]):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}
.contact-btn{
    text-align: center;
    padding-top: 25px;
}
/* Responsive Quries*/
@media screen and (min-width:992px) and (max-width:1199px){
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
}
.carousel-caption{
    left: -17%;
}
.overlay .btn.btn-info{
    margin-top: 25px;
}
.subscribe h2{
    left: 0px;
}
}
@media screen and (min-width:768px) and (max-width:991px){

#mainNav img{
    max-width: 190px;
    position: absolute;
    left: 15px;
}
nav#mainNav {
    margin-top: -28px;
}

div#navbarResponsive {
    background-color: #e5e5e5;
    position: relative;
    top: 29px;    
    border-top: 1px solid #550887;
}
.navbar-light .navbar-toggler {
    position: relative;
    top: 10px;
    right: 15px;
}
#header {
    padding: 19px 0px;
}
#header .container{
    padding-right: 0;
    padding-left: 0;
    max-width: 100%
}
.carousel-caption{
    left: -45px;
}
.subscribe h2 {
    font-size: 20px;
    letter-spacing: 0;
}
.services-content p{
    padding-bottom: 0px;
}
.services-lists{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-img{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-img img{
    width: 90% !important;
}    
.about .about-description{
    flex: 0 0 100%;
    max-width: 100%;
}
 .about.digital-solution .about-description {
    padding-top: 40px;
} 
.testimonial.owl-theme .owl-nav{
    margin-left: 20px;
}
.footer-menu a{
    padding: 9px;
}
.hovereffect .overlay{
    padding: 30px 10px 0px;
}
.overlay h4{
    font-size: 22px;
}
.overlay p{
    padding-top: 5px;
}
.overlay .btn.btn-info{
    margin-top: 10px;
}
.subscribe .btn.btn-infos{
    right: 0px;
}
.subscribe h2{
    left: 0px;
}
.subscribe input{
    width: 100%;
}
}

@media screen and (min-width:481px) and (max-width:992px) {
    #mainNav img{
    position: absolute;
}
.navbar-light .navbar-toggler{
    margin-top: 25px;
}
}
@media screen and (min-width:481px) and (max-width:767px) {
#mainNav img{
    max-width: 190px;
    position: absolute;
    left: 15px;
}
nav#mainNav {
    margin-top: -28px;
}

div#navbarResponsive {
    background-color: #e5e5e5;
    position: relative;
    top: 29px;
    border-top: 1px solid #550887;
}
.navbar-light .navbar-toggler {
    position: relative;
    top: 10px;
    right: 15px;
}
#header {
    padding: 19px 0px;
}
#header .container{
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}
.carousel-caption h2{
    font-size: 110px;
}
.footer-menu a {
    font-size: 15px;
    padding: 11px;
}
}
@media screen and (min-width:320px) and (max-width:575px) {
 .blog-lists{
    padding:0px 20px;
 }
 .work-detail-desc {
    padding: 40px 15px;
}
} 
@media screen and (min-width:320px) and (max-width:480px) {
#mainNav img{
	max-width: 190px;
    position: absolute;
    left: 15px;
}
nav#mainNav {
    margin-top: -28px;
}

div#navbarResponsive {
    background-color: #e5e5e5;
    position: relative;
    top: 43px;
    border-top: 1px solid #550887;
}
.navbar-light .navbar-toggler {
    position: relative;
    top: 20px;
    right: 15px;
}
#header {
    padding: 30px 0px;
}
#header .container{
    padding-right: 0;
    padding-left: 0;
}
.carousel-caption h2{
    font-size: 70px;
}
#top-banner h1 {
    color: #f4f90e;
    font-size: 45px;
}    
.footer-menu ul{
    display: block;
}

.overlay p{
    padding-top: 20px;
}
.overlay .btn.btn-info{
    margin-top: 30px;
}

}
@media screen and (min-width:320px) and (max-width:767px) {

div#navbarResponsive {
    background-color: #eee7f4;
}
.navbar-light .navbar-nav .nav-link {
    padding:15px;
}
.navbar-light .navbar-nav .nav-item .btn.btn-infos{
    margin-left: 15px;
}
.carousel-caption{
    left: 5%;
}
.subscribe .btn.btn-infos{
    margin-bottom: 80px;
}
.section-title {
    padding-left: 30px;
}
.counter-list::after{
    display: none;
}
.counter-list{
    padding-bottom: 25px;
}
.about.digital-solution .about-description {
    padding-top: 40px;
}
.about.digital-solution .testimonial .about-description {
    margin: 0 20px;
}
.about.business-grow {
     height: auto; 
}
.about.business-grow .about-description {
    padding-right: 20px;
    padding-top: 0px;
}
.about h2{
    padding-right: 20px;
}
.testimonial.owl-theme .owl-nav{
    margin-left: 20px;
}
#our-clients{
    height: auto;
}
#our-clients .item {
    margin-bottom: 45px;
}
#works .work-lists:nth-child(2) ,#works .work-lists:nth-child(5) {
     top: 0px; 
}
.subscribe .btn.btn-infos{
    right: 0px;
}
.subscribe h2{
    left: 0px;
}
}
/* End Responsive quries*/

/*Theme Section Start*/
.user-logged-in #top-banner{
    margin-top:0px;
}
.user-logged-in.path-user .region-content{
    position: relative;
    top: 120px;
}
.user-logged-in .region-content{
    position: relative;
    top: 80px;
}
.node__meta{
    display: none;
}
.subscribe input {
     width: 100%; 
 }
 .viewsreference--view-title{
    display: none;
 }
.field--name-field-subscribe-form{
    width: 50%;
}
.field--name-field-subscribe-form form{
    display: inline-flex;
}
.subscribe .form-group{
    padding-top: 20px;
}
.subscribe .btn.btn-infos{
    right: 0px;
    margin-top: 20px;
    width: fit-content;
}
@media screen and (max-width: 767px){
    .field--name-field-subscribe-form form {
        display: block;
    }
    .field--name-field-subscribe-form{
        width: 85%;
    }

}
/*menu Section Start*/
.toolbar-fixed #header{
 top:90px   
}
body.toolbar-tray-open #header{
    top:120px;
    z-index: 500;
}
.region-primary-menu{
    display: contents;
    /*margin-left: auto;*/
}
#header .show .nav-link:hover #header .contextual{
    top: 100px;
}
#block-yg-creative-main-menu{
    display: contents;
}
.menu--footer{
    display: inline-flex !important;
}
.user-logged-in #footer{
    margin-top: 80px;
}
.path-user #footer{
    margin-top: 150px;
}
@media screen and (max-width: 481px){
    .menu--footer{
        display: block !important;
    }
}
/*Menu Section end*/
/*Footer Section Start*/
.find_us_area{
    width: 90%;
}
/*Theme Section End*/

/* page not found */
#not-found-section {
    padding: 100px 0px 100px;
}

.not-found{
  height: 650px !important;
}
.not-found-body {
    width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #67009b;;
    padding: 40px 50px;
    width: 45%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    font-family: monospace;
    color: #67009b;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #67009b;
}

@media (min-width: 320px) and (max-width: 480px){
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #67009b !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #67009b !important;
    }
    .not-title {
        border: 2px solid #67009b !important;
        padding: 10px 50px 30px 50px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
     }
}

@media (min-width: 481px) and (max-width: 768px) {
    .not-title h1 {
        font-size: 92px !important;
        margin: 0px !important;
        color: #67009b !important;
    }
    .not-title h2 {
        font-size: 22px !important;
        margin: 0px !important;
        color: #67009b !important;
    }
    .not-title {
        border: 2px solid #67009b !important;
        padding: 30px 50px !important;
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
        border-radius: 10px !important;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #67009b !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #67009b !important;
}
.not-title {
    border: 2px solid #67009b !important;
    padding: 40px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* end page not found */

/* User login Section Start */
#user-login {
    max-width: 40%;
    margin: auto;
    padding: 20px 40px 40px;
    border: 2px solid #67009b;
    /* margin-bottom: 40px; */
    margin-top: 80px;
    overflow: hidden;
}

.login-text .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.not-found-body a,
.login-button a{
    text-decoration: none !important;
    font-weight: 600 !important;    
}
.not-found-body a,
.login-button a,
.path-user input[type="submit"] {
    font-size: 18px;
    padding: 13px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width:auto;
    border:none;
    font-weight:bolder;
    background-color: #67009b;
    color: #fff;
} 
.not-found-body a:hover,
.login-button a:hover,
.path-user input[type="submit"]:hover{
    background-color: rgba(103, 0, 155, 0.78);
    transition: 0.6s;
}

.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
    text-align: center;
}
.login-button .form-actions{
    display: inline-flex;
}
#user-register-form , #user-pass{
    max-width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    border: 2px solid #67009b;
    padding: 20px 20px 40px;
    overflow: hidden;
}

#user-register-form .js-form-item {
    margin-bottom: 20px !important;
}

#user-register-form .js-form-item input:not([type="checkbox"]),
#user-pass .js-form-item input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 610px) {
    #user-login {
        max-width: 95% !important;
        margin: auto;
        border: 2px solid #67009b;
        margin-bottom: 40px;
        margin-top: 80px;
        overflow: hidden;
    }
    #user-register-form , #user-pass{
        max-width: 95% !important;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        border: 2px solid #67009b;
        padding: 20px 20px 40px;
        overflow: hidden;
    }
    .blog-detail-body {
        padding: 50px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #user-login {
        max-width: 60% !important;
        margin: auto;
        margin-top: 80px;
        overflow: hidden;
    }

    #user-register-form , #user-pass{
        max-width: 95% !important;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        border: 2px solid #67009b;
        padding: 20px 20px 40px;
        overflow: hidden;
    }
}

/* User login Section End */

.status-message{
    margin-left: 25px;
}