{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- start header section -->
     <header id="header" class="header-color" >
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
          {{page.logo}}
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
            {{page.primary_menu}}
          </nav>
      </div>
    </header>
<!-- End header section -->

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}

<!-- FOOTER SECTION-->
<section id="footer">
  <div class="container">
    <div class="row footer-menu-social">
      <div class="col-md-8 footer-menu wow fadeInDown">
        <ul>
          {{page.footer_menu}}
        </ul>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInDown" data-wow-delay="0.3s">
          {{page.footer_about}}
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInDown" data-wow-delay="0.6s">
        <h6>{{find_us_title}}</h6>
        <p class="find_us_area">{{find_us_area}}</p>
      </div>
      <div class="col-md-3 col-sm-12 footer-columns lets-talk wow fadeInDown" data-wow-delay="0.9s">
        <h6>{{lets_talk_title}}</h6>
        <p><a href="tel:{{lets_talk_phone_no}}">{{lets_talk_phone_no}}</a></p>
        <p><a href="mailto:{{lets_talk_email}}">{{lets_talk_email}}</a></p>
      </div>
      <div class="col-md-3 col-sm-12 footer-columns wow fadeInDown" data-wow-delay="0.9s">
        <h6>{{social_link_title}}</h6>
        <div class="social">
          <ul>
            {% if linkedin %}
              <li><a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
            {% if instagram %}
              <li><a href="{{instagram}}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if youtube %}
            <li>
              <a href="{{youtube}}"><i class="fa fa-youtube-play"></i></a>
            </li>
          {% endif %}
            {% if facebook %}
              <li><a href="{{facebook}}"><i class="fa fa-facebook-f"></i></a></li>
            {% endif %}
            {% if twitter %}
              <li><a href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- copyright -->
<section id="copyright">
  <div class="container">
    <div class="row">  
      <div class="col-md-6 mx-auto text-center wow fadeInDown" data-wow-delay="0.3s"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}    
      </div>
    </div>
  </div>
</section>
<!-- End Copyright -->